<!DOCTYPE html>
<html>
  <head>
    <title>Parent Registration</title>
  </head>
  <body>
    <h1>Create Parent Account</h1>

    {% for error in errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}

    <form method="POST">
      <label>Full Name</label><br />
      <input type="text" name="full_name" /><br /><br />

      <label>Phone Number</label><br />
      <input type="text" name="phone_number" /><br /><br />

      <label>Email</label><br />
      <input type="email" name="email" /><br /><br />

      <label>Password</label><br />
      <input type="password" name="password" /><br /><br />

      <label>Confirm Password</label><br />
      <input type="password" name="confrim_password" /><br /><br />

      <button type="submit">Register</button>
    </form>
  </body>
</html>
